.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    display: flex;
    justify-content: center;
}

.tableStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 3px;
}

.up {
    display: flex;
    justify-content: center;
}

.timer {
    display: flex;
    justify-content: center;
    margin-left: 40px;
}

.second {
    margin-left: 40px;
}